@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">*** --- Welcome to Devops journey -- *** </h1>
    <h2 class="display-4">*** Deplyed by DevOps pipeline using Helm *** </h2>
    <h2 class="display-4">*MK Test 1* </h2>
    
    
</div>




